.jobs-header-2 {
  color: #5dbb79;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #5dbb79;
  padding: 0 5px;
	display: inline-block;
	font-weight: 600;
}

.jobs-padding {
	padding: 3% 12% 0% 12%;
}

.add-job-button {
  float: right;
}

.add-job-padding {
  padding: 3% 25% 0% 25%;
}

.delete-button {
  color: #347571;
  border-color: #347571;
  border-width: 0.1ex 0.1ex 0.1ex 0.1ex;
  border-radius: 20px;
  background-color: #FDFEFD;
  font-size: small;
}