body {
  margin: 0;
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdfefd;
}

.header-1 {
  color: #165c59;
}

.header-2 {
  color: #5dbb79;
}

.header-3 {
  color: #347571;
}

.body-text {
  color: #224e4b;
}

.accent-text {
  color: #5ec67f;
}
